In [ ]:
import sqlite3
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [ ]:
cursor.execute ('''
CREATE TABLE clientes (
  id_cliente INTEGER PRIMARY KEY,
  nome TEXT NOT NULL
);
''')

In [ ]:
cursor.execute('''
CREATE TABLE pedidos (
    id_pedido INTEGER PRIMARY KEY,
    id_cliente INTEGER,
    data TEXT,
    valor REAL,
    FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente)
);
''')

In [ ]:
cursor.executemany('INSERT INTO clientes (id_cliente, nome) VALUES (?, ?)', [
    (1, 'Alice'),
    (2, 'Bruno')
    ])

In [ ]:
cursor.executemany('INSERT INTO pedidos (id_pedido, id_cliente, data, valor) VALUES (?, ?, ?, ?)', [
    (1, 1, '2025-06-01', 150.0),
    (2, 2, '2025-06-02', 300.0),
    (3, 1, '2025-06-03', 200.0)
    ])

In [ ]:
# 5. Consulta e mostra resultados
cursor.execute('''
SELECT p.id_pedido, c.nome, p.data, p.valor
FROM pedidos p
JOIN clientes c ON p.id_cliente = c.id_cliente;
''')

resultados = cursor.fetchall()

print("\nðŸ“‹ Pedidos cadastrados:")
for id_pedido, nome, data, valor in resultados:
  print(f"Pedido #{id_pedido} | Cliente: {nome} | Data: {data} | Valor: R${valor:.2f}")

ðŸ“‹ Pedidos cadastrados:
Pedido #1 | Cliente: Alice | Data: 2025-06-01 | Valor: R$150.00
Pedido #2 | Cliente: Bruno | Data: 2025-06-02 | Valor: R$300.00
Pedido #3 | Cliente: Alice | Data: 2025-06-03 | Valor: R$200.00

In [ ]:
# conn.close()